<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="AgencyId" value="850"/>
    <add key="WipeDb" value="True"/>
    <add key="WipeCarrierName" value="NBC Marketing"/>
    <add key="PdfFileNameContains" value="NBC National Marketing - iTrust (2020-02-29)"/>
    <add key="LastModifiedDate" value="03/18/2010"/>
    <add key="OCRInputFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\OCRInput\"/>
    <add key="OCROutputFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\Level3\Imports\03022020\OCROutput\"/>
    <add key="OCRArchiveFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\OCRArchive\"/>
    <add key="CsvOutputFolderPath" value="C:\Temp\ParseOutput\CsvExtract\"/>
    <add key="ImportArchvieFolderPath" value="C:\Temp\ParseOutput\ImportArchive\"/>
    <add key="TextConverterProjectFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\TextConverterProjects\"/>
    <add key="PDFInputFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\Level3\"/>
    <add key="ClassSpec" value="Abbey.PdfProcessor : Abbey.PdfProcessor.Mock.MockStatementProcessor" />
    <add key="ThreadCount" value="4" />
    <add key="BatchSize" value="20" />
    <add key="TimerInterval" value="15" />
    <!--
    <add key="PDFInputFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\Level3\"/>
    <add key="PDFInputFolderPath" value="C:\Users\Duane\OneDrive\Public\CommissionProcessing\Staging\ParmettGroup\"/>
!-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StatementTransactionImportServiceSoap" closeTimeout="00:20:00"
          openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" />
        <binding name="PremiumTransactionServiceSoap" closeTimeout="00:20:00"
          openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" />
        <binding name="StatementTransactionImportServiceSoap1" />
        <binding name="PremiumTransactionServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://abbeytechnologies-dev.outsystemsenterprise.com/CommissionPortalRepository/StatementTransactionImportService.asmx" binding="basicHttpBinding" bindingConfiguration="StatementTransactionImportServiceSoap" contract="StatementImportService.StatementTransactionImportServiceSoap" name="StatementTransactionImportServiceSoap"/>
      <endpoint address="http://abbeytechnologies-dev.outsystemsenterprise.com/CommissionPortalTesting/PremiumTransactionService.asmx" binding="basicHttpBinding" bindingConfiguration="PremiumTransactionServiceSoap" contract="PremiumTransactionService.PremiumTransactionServiceSoap" name="PremiumTransactionServiceSoap"/>

      <!--
      <endpoint address="http://abbeytechnologies-dev.outsystemsenterprise.com/CommissionPortalRepository/StatementTransactionImportService.asmx" binding="basicHttpBinding" bindingConfiguration="StatementTransactionImportServiceSoap" contract="StatementImportService.StatementTransactionImportServiceSoap" name="StatementTransactionImportServiceSoap"/>
      <endpoint address="http://abbeytechnologies-dev.outsystemsenterprise.com/CommissionPortalTesting/PremiumTransactionService.asmx" binding="basicHttpBinding" bindingConfiguration="PremiumTransactionServiceSoap" contract="PremiumTransactionService.PremiumTransactionServiceSoap" name="PremiumTransactionServiceSoap"/>

      <endpoint address="http://abbeytechnologies-tst.outsystemsenterprise.com/CommissionPortalRepository/StatementTransactionImportService.asmx" binding="basicHttpBinding" bindingConfiguration="StatementTransactionImportServiceSoap" contract="StatementImportService.StatementTransactionImportServiceSoap" name="StatementTransactionImportServiceSoap"/>
      <endpoint address="http://abbeytechnologies-tst.outsystemsenterprise.com/CommissionPortalTesting/PremiumTransactionService.asmx" binding="basicHttpBinding" bindingConfiguration="PremiumTransactionServiceSoap" contract="PremiumTransactionService.PremiumTransactionServiceSoap" name="PremiumTransactionServiceSoap"/>

      <endpoint address="http://abbeytechnologies.outsystemsenterprise.com/CommissionPortalRepository/StatementTransactionImportService.asmx" binding="basicHttpBinding" bindingConfiguration="StatementTransactionImportServiceSoap" contract="StatementImportService.StatementTransactionImportServiceSoap" name="StatementTransactionImportServiceSoap"/>
      <endpoint address="http://abbeytechnologies.outsystemsenterprise.com/CommissionPortalTesting/PremiumTransactionService.asmx" binding="basicHttpBinding" bindingConfiguration="PremiumTransactionServiceSoap" contract="PremiumTransactionService.PremiumTransactionServiceSoap" name="PremiumTransactionServiceSoap"/>
!-->
    </client>
  </system.serviceModel>
</configuration>
